<!DOCTYPE html>
<html>
<head>
	<title>Website</title>
</head>
<body>
    <form action="/" method="POST">
        <label>Email</label>
        <input type="text" name="email">
        <label>Password</label>
        <input type="pasword" name="password">
        <label>Name</label>
        <input type="text" name="name">
        <label>Phone</label>
        <input type="text" name="phone">
        <label>Addr 1</label>
        <input type="text" name="addr1">
        <label>Addr 2</label>
        <input type="text" name="addr2">
        <label>City</label>
        <input type="text" name="city">
        <label>Blood Grp</label>
        <input type="text" name="blood">
        <label>Husbands name</label>
        <input type="text" name="hus">
        <!-- <label>Days to birth</label> -->
    </form>
</body>
</html>