.navbar-default
{
    margin-bottom:0%;
    background-color:#3399ff;
}
.momlogo
{
    color:#3399ff;
    margin-left:15%;
    margin-right:12%; 
    width: 12%; 
    height: 15%;  
   /* padding-left:10%;
    padding-right:10%;*/
    

}
.calendarlogo
{
    margin-right:12%; 
    width: 14%;
    height: 15%; 
    
}
.notilogo
{
    width: 15%; 
    height: 15%; 
    padding-bottom:1.5%;
    
}
.mom_card
{
    line-height:50%; 
    padding-left:5%;
}
.fas fa-plus-circle fa-5x
{
    
    z-index:1;
    bottom:5px;
    right:5px;
    background-color:white;
    font-size:40px; 
   
    
}
.plus_btn
{
    
    position:fixed;
    z-index:1;
    bottom:5px;
    right:5px;
    background-color:white;
    color:#3399ff;
    font-size:10px;
    
}
.heading
{
    color:#3399ff;
    font-size:25px;
    padding-left:2%;
     
}
.text
{
    
    font-size:15px;
    line-height:50%; 
    padding-left:2%; 
    color:black;
}  