.doc_login_div
{
    padding:2%; 
}
.username_pass_box{
    width:96%;
    margin:2%;
    height:5%;  
    font-size:40px; 
    line-height:50%; 
    border:5px;
}
.username_pass
{
    font-size:55px;
    color:#3399ff;
    line-height:50%; 
}
.sub_btn
{
    width:95%;
    height:10%;
    background-color:#3399ff;
    font-size:100px;
    color:white;
}