.report_img
{
    width: 100%;
    height: auto; 
    padding-left:5%;
    padding-right:5%;
}
.textname
{
  color:#EA4C7D;
  font-size:20px;
  padding-left:2%;  
}
body
{
  background-color:#F7F7F7;
}
.navbar-inverse .navbar-brand
{
  margin-left:30%;
  color:#EA4C7D;
  border:0%;
}
.icon-bar
{
  background-color:#EA4C7D;
}
.navbar-inverse
{
  border-color: #EA4C7D;
}
.navbar-inverse .navbar-toggle
{
 border-color:#EA4C7D;
 border:0px; 
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover
{
  background-color:#F7F7F7;
}
.navbar-inverse .navbar-toggle .icon-bar
{
  background-color:#EA4C7D;
}