.report_img
{
    width: 100%;
    height: auto; 
    padding-left:5%;
    padding-right:5%;
}
.textname
{
  color:#EA4C7D;
  font-size:20px;
  padding-left:2%;  
}
.fas fa-plus-circle fa-5x
{
    
    z-index:1;
    bottom:5px;
    right:5px;
    background-color:white;
    font-size:40px; 
   
    
}
.plus_btn
{
    position:fixed;
    z-index:1;
    bottom:5px;
    right:5px;
    background-color:white;
    color:#3399ff;
    font-size:10px;
    
}