body {
    color: #161616; 
    font-family: 'Roboto', sans-serif;  
    text-align: center;
    font-size: 25px;
    background-color: currentColor;
}
p {  
    text-align: center;  
    color:#FFFFFF;
}
.rihanna{
    text-align: left;
    position: absolute;
    right: 30px;
    bottom: 30px;

}