<!Doctype>
<html>
<head>
  	<title>DOC2MOM</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="cal.css">
    <link rel="stylesheet" href="calendar_doc.css">  
</head>
 <body>
        <nav class="navbar navbar-default">
                <div class="container">
                    
                 <div class="nav navbar-nav">
                    
                     <img src="mom.png" class="momlogo">
                      <img src="calendar.png" class="calendarlogo">
                      <img src="noti.png" class="notilogo">
                  
              </div>
                        <!---- <div class="row">
                            <div class="col-sm-4">
                              <a href="#" >Moms</a>
                            </div>
                            <div class="col-sm-4">
                              <a href="#">Calendar</a>
                            </div>
                            <div class="col-sm-4">
                              <a href="#">Notifications</a>
                            </div>-->          
                </div>
                </div>
              </nav>
  	
            <div class = "calender">
                <iframe id ="cal" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23e661cb&amp;ctz=Asia%2FKolkata&amp;src=a3AzNzc1YnBobnJ2OW1kbmdpbmdoczZzbjhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23009688&amp;showDate=1&amp;showTz=0&amp;showTitle=1&amp;showNav=1&amp;showPrint=0&amp;showTabs=1&amp;showCalendars=0"  style="border:solid 1px #777" width=100% height=75% frameborder="0" scrolling="no"></iframe>    
             </div>
    
 </body>
 </html>


