<html>
<head>
  	<title>DOC2MOM</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <!---- <link rel="stylesheet" href="cal.css">-->
    <link rel="stylesheet" href="static/css/doc_noti.css">  
</head>
 <body onload="call_two(3,4)">
        <nav class="navbar navbar-default">
                <div class="container">
                    
                 <div class="nav navbar-nav">
                    
                     <img src="static/img/mom.png" class="momlogo">
                      <img src="static/img/calendar.png" class="calendarlogo">
                      <img src="static/img/noti.png" class="notilogo">
                  
              </div>
                        <!---- <div class="row">
                            <div class="col-sm-4">
                              <a href="#" >Moms</a>
                            </div>
                            <div class="col-sm-4">
                              <a href="#">Calendar</a>
                            </div>
                            <div class="col-sm-4">
                              <a href="#">Notifications</a>
                            </div>-->          
                </div>
                </div>
              </nav>
              <div id=section>

              </div>
  	
        
 </body>
 <script type="text/javascript">
  function alertcard(num)
  {
      for(i=0;i<num;i++)
      {
          const x=document.createElement("div");
          x.setAttribute("class","alert_card");
          var h4=document.createElement("h4");
          h4.innerText="Reminder";
          h4.setAttribute("class","heading");
          x.append(h4);
          x.append(document.createElement("br"));
          var p=document.createElement("p");
          p.innerText="appointment tomorrow at hh:mm with Name"
          p.setAttribute("class","text");
          x.append(p);
          var hr=document.createElement("hr");
          x.append(hr);
          document.getElementById("section").append(x);
      }
  }
  function msgcard(num)
  {
    for(i=0;i<num;i++)
    {
      const x=document.createElement("div");
          x.setAttribute("class","msg_card");
          var h4=document.createElement("h4");
          h4.innerText="MOM Name";
          h4.setAttribute("class","heading");
          x.append(h4);
          x.append(document.createElement("br"));
          var p=document.createElement("p");
          p.innerText="Message Text";
          p.setAttribute("class","text");
          x.append(p);
          var hr=document.createElement("hr");
          x.append(hr);
          document.getElementById("section").append(x);
    }
  }
  function call_two(num_alerts,num_msgs)
  {
    alertcard(num_alerts);
    msgcard(num_msgs);
  }		
</script>
 </html>


