<html>
<head>
	<title>DOC2MOM</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://kit.fontawesome.com/68fe40ed82.js" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mom_reports.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/doc_reports.css') }}">

</head>
<body onload="createcard(3)">
    <nav class="navbar navbar-inverse" style="background-color:red" >
		<div class="container-fluid">
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>                        
			</button>
			<a class="navbar-brand" href="#">WebSiteName</a>
		  </div>
		  <div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
			  <li><a href="#">Home</a></li>
			  
			  <li><a href="#">Page 2</a></li>
			  <li><a href="#">Page 3</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
			</ul>
		  </div>
		</div>class="textname"
	  </nav>
      <p class="textname">Name:{{deets['name']}}</p>
      <p class="textname">BloodGroup:{{deets['bldgrp']}}</p>
      <p class="textname">Name:{{deets['dtb']}} days to childbirth</p>
  
      <div id="child" style="padding:2px; ">
		
	</div>
    <div class="plus_btn" >
        <i class="fas fa-plus-circle fa-5x" aria-hidden="true"></i>
    </div>
    <!--<div style="color:black;  padding:2%; ">
		<p >Reminder:</p>
		<P>Time:</P>
	</div>-->
</body>
	<script type="text/javascript">
		function createcard(num)
		{
			for(i=0;i<num;i++)
			{
				const x=document.createElement("div");
				var img=document.createElement("img");
				img.setAttribute("src","{{ url_for('static', filename='img/report.png') }}");
				img.setAttribute("class","report_img");
				x.append(img);
				var txt1=document.createElement("p");
				txt1.setAttribute("class","textname");
				txt1.innerText="Test name:"
				var txt2=document.createElement("p");
				txt2.innerText="Test Date:"
				txt2.setAttribute("class","textname");
				x.append(txt1);
				x.append(txt2);
				document.getElementById("child").append(x);
			}
		}		
	</script>
</html>