<!DOCTYPE html>
<html>
        <head>
                <title>Bootstrap Example</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
                <script src="https://kit.fontawesome.com/68fe40ed82.js" crossorigin="anonymous"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
                <link rel="stylesheet" href="static/css/doc_home.css">

        </head>
        <body onload="momcard(6)">
                <nav class="navbar navbar-default">
                  <div class="container">
                      
                   <div class="nav navbar-nav">
                      
                       <img src="static/img/mom.png" class="momlogo">
                        <img src="static/img/calendar.png" class="calendarlogo">
                        <img src="static/img/noti.png" class="notilogo">
                    
                </div>
                          <!---- <div class="row">
                              <div class="col-sm-4">
                                <a href="#" >Moms</a>
                              </div>
                              <div class="col-sm-4">
                                <a href="#">Calendar</a>
                              </div>
                              <div class="col-sm-4">
                                <a href="#">Notifications</a>
                              </div>-->          
                  </div>
                  </div>
                </nav>
                <div id=section>

                </div>
              <!----  <div id="mom_card" style="line-height:50% ">
                    <h4>Mom Name</h4>
                    <br>
                    <p>3 weeks pregnant</p>
                    <p>appointment date</p>
                    <hr>
                </div>-->
                <div class="plus_btn" >
                    <i class="fas fa-plus-circle fa-5x" aria-hidden="true"></i>
                </div>
              
        </body>
        <script type="text/javascript">
            function momcard(num)
            {
                for(i=0;i<num;i++)
                {
                    const x=document.createElement("div");
                    x.setAttribute("class","mom_card");
                    var h4=document.createElement("h4");
                    h4.innerText="Mom name";
                    h4.setAttribute("class","heading");
                    x.append(h4);
                    x.append(document.createElement("br"));
                    var p=document.createElement("p");
                    p.innerText="3 weeks pregnant";
                    p.setAttribute("class","text");
                    x.append(p);
                    var p1=document.createElement("p");
                    p1.innerText="appointment date:";
                    p1.setAttribute("class","text");
                    x.append(p1);
                    var hr=document.createElement("hr");
                    hr.setAttribute("color","black");
                    x.append(hr);
                    document.getElementById("section").append(x);
                }
            }		
        </script>
</html>