<html>
<head>
	<title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</title>
</head>
<body>
	<img src="logo.png" id="logo"></img>
	<h3 id="heading">Doc2Mom</h3>
	<h5>Hello Doc</h5>
	<form action='/doc_add_mom' method = 'POST'>
        <p>Mother name:</p>
        <input type="text" placeholder="Enter Name" name="name">
        <p>Email:</p>
        <input type="text" placeholder="Enter email" name="email">
        <p>Contact no</p>
		<input type="text" placeholder="Enter contact no" name="contact">
		<p>Blood Group</p>
		<input type="text" placeholder="Enter blood_group" name="bldgrp">
		<p>Number of days to birth</p>
		<input type="text" placeholder="Enter number of days to birth" name="dtb">
		<input type="submit" value="Send Unique Code">
	</form>
</body>
</html>