<html>
<head>
	<title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</title>
</head>
<body>
	{% if us %}
	<script>
		alert('Incorrect username and password')
	</script>
	{% endif %}
	<img src="{{url_for('static', filename='img/logo.png')}}" id="logo">
	<h3 id="heading">Doc2Mom</h3>
	<h5>Hello Doc</h5>
	<form action="/doc_login" method="POST">
		<p>Username:</p>
		<input type="text" placeholder="Enter your Username" name="id">
		<p>Password:</p>
		<input type="Password" placeholder="Enter your Password" name="pass">
		<input type="submit" value="LOGIN">
	</form>
</body>
</html>