<html>
<head>
	<title>DOC2MOM</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <script src="https://kit.fontawesome.com/68fe40ed82.js" crossorigin="anonymous"></script>
  <!--	<link rel="stylesheet" href="cal.css">-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/emergency_contact.css') }}"> 
</head>
<body>
	<nav class="navbar navbar-inverse" style="background-color:#F7F7F7;" >
		<div class="container-fluid">
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>                        
			</button>
			<a class="navbar-brand" href="#">Doc2Mom</a>
		  </div>
		  <div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
			  <li><a href="/mom_reports/{{key}}">Reports</a></li>
			  <li><a href="/mom_home/{{key}}">Home</a></li>
			</ul>
		  </div>
		</div>
	  </nav>
	<h4 class="heading">Emergency Contacts</h4>
    <!--<div style="color:black;  padding:2%; ">
		<p >Name:</p>
		<P>Contact no:</P>
    </div>-->
    <div id="child">
				{% for contact in contacts %}
			<div class = "carddiv">
				<p class="text">Name: {{contact['name']}}</p>
				<p class="text">Contact no: {{contact['number']}}</p>
				<hr>
			</div>
			{% endfor %}
	</div>
	<form action="{{url_for('emergency', id = key)}}" method = 'POST' id = "form">
			<p class="text">Name:</p>
			<input type="text" placeholder="Enter Name" name="name" class="input_box">
			<p class="text">Contact no:</p>
			<input type="text" placeholder="Enter contact no" name="number" class="input_box">
			<button onclick = "refreshh()"> Add contact </button>
</form>
	<!-- <div class="plus_btn" > -->
		<!--<i class="fas fa-plus-circle fa-5x" aria-hidden="true" onclick="window.location.href='{{url_for('add_mom', id = key)}}'"></i>-->
		<!-- <i class="fas fa-plus-circle fa-5x" aria-hidden="true"></i>
	</div> -->
</body>
<script type="text/javascript">
    function refreshh()
    {
			var frm = document.getElementById('form');
  	 	frm.submit(); // Submit the form
   		frm.reset();
    }		
</script>
</html>
