<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>

		<title>
			DOC2MOM
		</title>
	</head>
	<body>
		  <img src="{{url_for('static', filename='img/logo.png')}}" >
		<h3 id="heading">Doc2Mom</h3>
		<p id="text">I am a...</p>
		<div id="container">
			<ul>
				<button id="main_button" onclick="location.href='{{url_for('mom1')}}''">MOTHER</button>
				<button id="main_button" onclick="location.href='doc1.html'">DOCTOR</button>
			</ul>
		</div>
	</body>
</html>