<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<html>
    <p>
        Work, work, work, work, work, work <br>
        You see me I be work, work, work, work, work, work <br>
        There's something 'bout that work, work, work, work, work, work <br>
        You see me do me dirt, dirt, dirt, dirt, dirt, dirt <br>
        Me na care if me tired, tired, tired, tired, tired, tired <br>
        When you a gon' learn, learn, learn, learn, learn, learn <br>
    </p>
    <p class = 'rihanna'>
        - Rihanna
    </p>
</html>