<html>
<head>
	<title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
	</title>
	<link rel="stylesheet" type="text/css" href="static/css/mom_login.css"/>
	<link rel="stylesheet" type="text/css" href="static/css/index.css"/>
</head>
<body>
	{% if us %}
	<script>
		alert('Incorrect username and password')
	</script>
	{% endif %}
	<img src="{{url_for('static', filename='img/logo.png')}}" class="logo">
	<p class="heading" style="font-size:130px; margin-bottom:5%; ">Doc2Mom</p>
	<!-- <h5>Hello Mom</h5> -->
	<div class="mom_login_div">
		<form action="/mom_login" method="POST">
			<p class="username_pass">Username:</p>
			<input type="text" placeholder="Enter your Username" name="id" class="username_pass_box">
			<p class="username_pass">Password:</p>
			<input type="Password" placeholder="Enter your Password" name="pass" class="username_pass_box">
			<button class="sub_btn" type="submit">LOGIN</button>
		</form>
	</div>	
</body>
</html>