<!Doctype>
<html>
<head>
  	<title>DOC2MOM</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="static/css/mom_home.css">

	 <!---- <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
</head>
 <body>
  <nav class="navbar navbar-inverse" style="background-color:#F7F7F7;" >
		<div class="container-fluid">
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>                        
			</button>
			<a class="navbar-brand" href="#">Doc2Mom</a>
		  </div>
		  <div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
        <li><a href="#">Reports</a></li>
        <li><a href="#">Emergency Contact</a></li>
			</ul>
		  </div>
		</div>
	  </nav>
<button class="SOSbtn">SOS</button>


<div id="myDIV" class="header">
  <h2>My Activity List</h2>
  <ul>
	<input type="text" id="myInput" placeholder="Title..." style="color:black;">
  <input type="time" id="myInput" placeholder="Time...">
  <input type="date" id="myInput" placeholder="Date...">
  <input onclick="newElement()" class="addBtn" value="ADD">
  
</ul>
</div>


<table id="myTable">
	<tr class="header">
	  <th style="width:60%; color:#EA4C7D;">Title</th>
	  <th style="width:30%;color:#EA4C7D;">Time</th>
	  <th style="width:30%;color:#EA4C7D;">Date</th>

	</tr>
	<tr>

	  <td>Title</td>
	  <td>Time</td>
	  <td>Date</td>
	</tr>

<!--<ul id="myUL">
  <li>Hit the gym</li>
  <li class="checked">Pay bills</li>
  <li>Meet George</li>
  <li>Buy eggs</li>
  <li>Read a book</li>
  <li>Organize office</li>
</ul>-->




<!--<div class = "calender">
                <iframe id ="cal" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23e661cb&amp;ctz=Asia%2FKolkata&amp;src=a3AzNzc1YnBobnJ2OW1kbmdpbmdoczZzbjhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23009688&amp;showDate=1&amp;showTz=0&amp;showTitle=1&amp;showNav=1&amp;showPrint=0&amp;showTabs=1&amp;showCalendars=0"  style="border:solid 1px #777" width=100% height=75% frameborder="0" scrolling="no"></iframe>    
 </div>-->
<!---- <div class="CBICON" style="top:100%; left:100%; ">
   <img src="chatbot.png" style="width: 25%; height: auto; margin-left:75%;">
 </div>-->

           
 </body>
 </html>


