<html>
<head>
	<title>DOC2MOM</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mom_reports.css') }}"/>
 <!---- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mom_reports.css') }}">-->

</head>
<body onload="createcard(3)">
	<nav class="navbar navbar-inverse" style="background-color:#F7F7F7;" >
		<div class="container-fluid">
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>                        
			</button>
			<a class="navbar-brand" href="#">Doc2Mom</a>
		  </div>
		  <div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
			  <li><a href="/mom_home/{{key}}">Home</a></li>
			  <li><a href="/emergency/{{key}}">Emergency Contact</a></li>
			</ul>
		  </div>
		</div>
	  </nav>
	<div id="child" style="padding:2px; ">
		
	</div>
	<!--<div style="color:black;  padding:2%; ">
		<p >Reminder:</p>
		<P>Time:</P>
	</div>-->
</body>
	<script type="text/javascript">
		function createcard(num)
		{
			for(i=0;i<num;i++)
			{
				const x=document.createElement("div");
				var img=document.createElement("img");
				img.setAttribute("src","{{ url_for('static', filename='img/report.png') }}");
				img.setAttribute("class","report_img");
				x.append(img);
				var txt1=document.createElement("p");
				txt1.setAttribute("class","textname");
				txt1.innerText="Test name:"
				var txt2=document.createElement("p");
				txt2.innerText="Test Date:"
				txt2.setAttribute("class","textname");
				x.append(txt1);
				x.append(txt2);
				document.getElementById("child").append(x);
			}
		}		
	</script>
</html>